<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <value>classpath:/gateway-jms.properties</value>
                <value>classpath:application.properties</value>
                <value>classpath:gateway-jms.properties</value>
            </list>
        </property>
    </bean>

    <bean id="jmsJndiTemplate" class="org.springframework.jndi.JndiTemplate" lazy-init="true">
        <property name="environment">
            <props>
                <prop key="java.naming.factory.initial">${gateway.spi.jms.factory.initial}</prop>
                <prop key="java.naming.provider.url">${gateway.spi.jms.provider.url}</prop>
                <prop key="weblogic.jndi.connectTimeout">1000</prop>
                <prop key="weblogic.jndi.responseReadTimeout">1000</prop>
            </props>
        </property>
    </bean>

    <bean id="connectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="true">
        <property name="jndiTemplate" ref="jmsJndiTemplate"/>
        <property name="jndiName" value="${gateway.spi.jms.connectionFactory}"/>
        <property name="expectedType" value="javax.jms.ConnectionFactory"/>
        <property name="lookupOnStartup" value="false"/>
        <property name="cache" value="true"/>
        <property name="proxyInterface" value="javax.jms.ConnectionFactory"/>
        <property name="exposeAccessContext" value="true"/>
    </bean>

    <bean id="cachingConnectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory"
          p:targetConnectionFactory-ref="connectionFactory"
          p:sessionCacheSize="10"/>

    <!-- ============================= channel connector ==============================-->

    <bean id="modernGatewayRequestQueue" class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="true">
        <property name="jndiTemplate" ref="jmsJndiTemplate"/>
        <property name="jndiName" value="${gateway.spi.jms.requestQueue}"/>
        <property name="expectedType" value="javax.jms.Queue"/>
        <property name="lookupOnStartup" value="false"/>
        <property name="cache" value="true"/>
        <property name="proxyInterface" value="javax.jms.Queue"/>
    </bean>

    <bean id="modernGatewayResponseQueue" class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="true">
        <property name="jndiTemplate" ref="jmsJndiTemplate"/>
        <property name="jndiName" value="${gateway.spi.jms.responseQueue}"/>
        <property name="expectedType" value="javax.jms.Queue"/>
        <property name="lookupOnStartup" value="false"/>
        <property name="cache" value="true"/>
        <property name="proxyInterface" value="javax.jms.Queue"/>
    </bean>

    <bean id="spiMarshaller" class="com.caspian.moderngateway.spi.marshal.SpiBinaryMarshaller"/>

    <bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer" lazy-init="true">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="destination" ref="modernGatewayResponseQueue"/>
        <property name="messageListener" ref="channelManagerJmsService"/>
        <property name="messageSelector" ref="filterObject"/>
        <property name="concurrentConsumers" value="${gateway.spi.jms.concurrentConsumers}"/>
        <property name="maxConcurrentConsumers" value="${gateway.spi.jms.concurrentConsumers}"/>
        <property name="autoStartup" value="false"/>
    </bean>

    <bean id="channelManagerJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
        <property name="defaultDestination" ref="modernGatewayRequestQueue"/>
        <property name="sessionAcknowledgeMode" value="1"/>
        <property name="deliveryMode" value="${gateway.spi.jms.delivery.mode}"/>
        <property name="explicitQosEnabled" value="true"/>
        <property name="timeToLive" value="${gateway.spi.jms.message.ttl}"/>
    </bean>

    <bean id="filterObject" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.caspian.moderngateway.spi.util.ResponseFilterGenerator.getFilter"/>
    </bean>

    <bean id="UUIDFilterObject" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.caspian.moderngateway.spi.util.ResponseFilterGenerator.getUUIDFilter"/>
    </bean>

    <bean id="channelManagerJmsService" class="com.caspian.moderngateway.spi.service.JmsService">
        <property name="jmsTemplate" ref="channelManagerJmsTemplate"/>
        <property name="channelManagerMessageSelector" value="${gateway.spi.jms.message.selector}"/>
        <property name="channelName" value="${gateway.spi.jms.channel.name}"/>
        <property name="messageDeliveryMode" value="${gateway.spi.jms.delivery.mode}"/>
        <property name="messageTimeout" value="${gateway.spi.jms.message.ttl}"/>
        <property name="channelFormat" value="${gateway.spi.jms.channel.format}"/>
        <property name="spiMarshaller" ref="spiMarshaller"/>
        <property name="jmsProviderUrl" value="${gateway.spi.jms.provider.url}"/>
        <property name="responseFilter" ref="UUIDFilterObject"/>
    </bean>

    <bean id="JmsChannelManagerProvider" class="com.caspian.moderngateway.spi.service.JmsChannelManagerProvider">
        <property name="filter" ref="UUIDFilterObject"/>
        <property name="sender" ref="channelManagerJmsService"/>
    </bean>

</beans>
