<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console: Show all INFO and above -->
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File: Only INFO and above for your app -->
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Error-only file for exceptions -->
        <RollingFile name="ErrorFile" fileName="logs/error.log"
                     filePattern="logs/$${date:yyyy-MM}/error-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Your package: INFO level to both console and file -->
        <Logger name="com.caspian" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="ErrorFile" level="error"/>
        </Logger>

        <!-- Spring Framework: WARN+ to console only (reduce noise) -->
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <!-- WebLogic/JMS: ERROR only -->
        <Logger name="weblogic" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- JMS/LOTUS: INFO to file only -->
        <Logger name="com.casp.jms" level="info" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="ErrorFile" level="error"/>
        </Logger>

        <!-- Root: ERROR only (catches everything else) -->
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>
    </Loggers>
</Configuration>